extends ./layout.pug
block content
    header
        .row
            ul.main-nav
                li
                    a(href='') Food Delivery
                li
                    a(href='') Food Orders
                li
                    a(href='') Testimonials
                li
                    a(href='') Our Cities
                li
                    a(href='') Services
                li
                    a(href='/contact') Contact    
        .hero(style="font-color:DodgerBlue;")
        h1
            | More Than Food 
            br
            |  Chef-curated recipes and seasonal, farm-fresh 
            br
            |  ingredients, delivered to your doorstep every week for 
            br
            |  delicious home-cooked meals.
        .button-awesome
                a.btn.btn-half(href='') Show me more
                a.btn.btn-full(href='') I m hungry
    