*
{
    border-width: 1px;
    border-style: solid;
}
html{
    border-color: purple;
}
body{
    border-color: red;
}
div{
    border-color: blue;
}
P{
    Border-width: 3px;
    border-color: green;
}
span{
    Border-width: 3px;
    border-color: brown;
    border-style: dotted;
}
a
{
    Border-width: 2px;
    border-color: coral;
    border-style: dashed;
}
div.radius
{Border-width: 2px;
    border-color: orange;
    border-radius: 20px;
}

